.custom-card {
    height: 100%;
    max-width: 350px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    border-radius: 5px;
    overflow: hidden;
    outline-width: 0px;
}

.custom-card-title {
    font-weight: 700px;
}

.custom-card-image {
    height: 240px;
}
