.custom-card {
    height: 100%;
    max-width: 350px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    border-radius: 5px;
    overflow: hidden;
    outline-width: 0px;
}

div.MuiCardContent-root {
    background-color: var(--chocolateblack);
    color: var(--lightcream);
}

div.MuiPaper-root:hover {
    outline: var(--chocolateblack) solid 2px;
}

div.MuiCardContent-root .custom-card-title {
    font-family: condor-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

div.MuiCardContent-root .custom-card-description {
    color: #999;
}

.custom-card-image {
    height: 240px;
}
