.btn {
 background-color: var(--burntorange);
 font-size: 14px;
 font-weight: 500;
 border: 0;
 border-radius: 50px;
 padding: 1px 12px;
 line-height: 35px;
 min-width: 100px;
 outline: none;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-icon-container {
    color: var(--chocolateblack);
    background: var(--lightcream);
    border-radius: 50px;
    height: 27px;
    width: 27px;
    line-height: 29px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn .btn-icon-container > .MuiSvgIcon-root {
    font-size: 16px;
}

.btn-text {
    font-size: 14px;
    text-transform: none;
    text-align: center;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}