button.MuiButton-root {
 background-color: var(--lightcream);
 border-radius: 50px;
 padding: 5px 20px;
 margin: 10px;
 width: 85%;
 color: var(--chocolateblack);
}

button.MuiButton-root:hover {
    color: var(--burntorange);
    background-color: var(--lightcream);
    text-transform:none;
    font-weight: 700;
}

button.MuiButton-root a {
    color: var(--chocolateblack);
    text-transform:none;
    font-weight: 700;
   }

button.MuiButton-root p {
    color: var(--chocolateblack);
    text-transform:none;
    font-weight: 700;
}

button.MuiButton-root a:hover {
    color: var(--burntorange);
    background-color: var(--lightcream);
    text-transform:none;
    font-weight: 700;
   }

button.MuiButton-root p:hover {
    color: var(--burntorange);
    background-color: var(--lightcream);
    text-transform:none;
    font-weight: 700;
}