.timeline {
    padding: 0;
}

.timeline .timeline-header {
    padding-top: 10px;
}

.timeline .timeline-first-item {
    margin-top: 30px;
}

.timeline .MuiTimelineItem-root {
    min-height: 0px;
}

.timeline .MuiTimelineItem-missingOppositeContent:before {
    display: none;
}

.timeline .timeline-dot-header {
    color: var(--lightcream);
    background-color: var(--burntorange);
    border-color: var(--deeppink);
    font-size: 12px;
    padding: 10px;
}

.timeline .timeline-dot {
    color: var(--lightcream);
    background-color: var(--lightcream);
    padding: 10px;   
}

.timeline .MuiTimelineConnector-root {
    background-color: var(--deeppink);
}

.timeline .timeline-dot-header > .MuiSvgIcon-root {
    font-size: 20px;
    font-weight: bold;
}

.timeline .separator-padding {
    padding-left: 18px;
}

.timeline .timeline-content {
    padding-top: 0px;
    margin-bottom: 20px;
}

.timeline .timeline-content-bio {
    font-size: 15px;
    font-family: jaf-bernino-sans-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
}