.footer {
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--chocolateblack);
    text-align: right;
    min-height: 67px;
    border-radius: 8px;
    margin-bottom: 22px;
}

.footer-text {
    color: var(--burntorange);
    text-transform: uppercase;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--chocolateblack);
    padding: 22px 20px 22px 20px;
    display: flex;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    
}
