.footer {
    background-color: rgba(249,239,220, 0.8);
    color: var(--chocolateblack);
    text-align: right;
    min-height: 70px;
    border-radius: 8px;
    padding: 20px 25px;
    margin-bottom: 30px;
}

p.footer-name {
    text-transform: uppercase;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
}
