:root {
    --chocolateblack: #231E1A;
    --chocolatebrown: #52463B;
    --lightbrown: #AC917B;
    --lightcream: #F9EFDC;
    --deeppink: #820D40;
    --burntorange: #C95C54;
}
.top-60 {
    margin-top: 60px;
}

.container-shadow {
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.90);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.90);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.90);
}

.main-content {
    background-color: white;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    min-height: 70vh;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 30px;
  }

  .section-title {
      position: relative;
      display: inline-block;
      padding: 0 3px;
  }

  .section-title {
    position: relative;
    display: inline-block;
    padding: 0 3px;
    margin-bottom: 30px;
}

.section-title .section-title-text {
    font-size: 50px;
    font-weight: bold;
    font-family: condor-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
    position: relative;
    margin: 0;
    color: var(--deeppink);
}

.section-title span {
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    opacity: 0.1;
    left: 0;
    background-color: var(--deeppink);
}

.section .section-text {
    font-size: 24px;
    font-family: bilo, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1;
    color: var(--chocolateblack);
    padding: 25px;
    margin-top: 20px;
}




@media (max-width: 991px) {
    .top-60 {
        margin-top: 30px;
    }
}
